<a href="https://colab.research.google.com/github/Hyewon97/python_demo/blob/main/p100_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# python version 확인
!python --version

Python 3.8.10

In [ ]:
# python의 철학
import this

In [ ]:
import keyword
# keyword.kwlist
print(keyword.kwlist) # 리스트 형태로 출력,, 배열 아님 배열 처리 하려면 numpy로 처리 필요
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
print('Hello world')

Hello world

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("python"); print('python')

python
python

In [ ]:
# 문장 연결을 할 때 \(역 슬래시)를 해주면 된다.
a=10; b=20;
if(a==10) and \
 (b==20) :
  print("OK")
else :
  print("no")

OK

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
start=begin=1
# print(start)
# print(begin)

# 여러개의 변수를 늘어놨을 떄, 맨 마지막 변수만 출력이 된다.
# 여러개의 변수를 출력하고 싶으면 print문을 사용해야 한다.
start
begin

1

In [ ]:
a=1
a=eval('3+4') # 연산이 되어서 결과값이 출력된다.
print(a)

a=eval('a+3') # 앞에 있는 값을 가져와서 연산이 된다.
print(a)

7
10

## 자료형
int, float  
list, str, tuple 순서가 있는 집합 자료형(시퀀스 자료형)  
집합 연산자 자료형 => 집합형, 순서가 없고 중복된 항목이 없음  

---
1. 데이터 저장 방법에 따른 자료형의 분류  
   직접(direct)형 : 직접 데이터를 표현하는 자료형 : int, float, complex  
   시퀀스(sequence)형 : 다른 데이터를 포함하는 자료형, 순서가 있는 집합 자료형 : list, str, tuple, bytes, nytearray, range  
   매핑(Mapping)형 : 다른 데이터를 포함하는 자료형 : direct  
   집합(Set)형 : 순서가 없고, 중복된 항목도 없다. : set, frozenset  

2. 변경 가능성에 따른 자료형 분류  
  변경 가능형(Mutable) : 데이터의 값을 변경할 수 있다. : list, dict, set  
  변경 불가능형(Immutable) : 데이터의 값을 변경할 수 없다 : int, float, complex, str, tuple, frozenset

3. 데이터 저장 개수에 따른 자료형의 분류  
  리터널(Literal/Scalar)형 : 한 가지 객체만 저장한다, : int, bytes, str, float, complex  
  컨테이널(container)형 : 여러 가지 객체를 저장한다. : list, tuple, dict, set, frozenset

type( ) : 데이터 자료형 확인

In [ ]:
type(5)

int

In [ ]:
type(85.3)

float

In [ ]:
type([1,3,5])

list

In [ ]:
# 소괄호는 튜플을 의미한다.
type((2,6,7))

tuple

In [ ]:
# 튜플은 괄호를 생략해도 된다.
def call():
  return 2,3,4

print(call())
print(type(call()))

(2, 3, 4)
<class 'tuple'>

In [ ]:
# 중괄호는 set을 의미한다.
type({1,3,4})

set

dir( ) : 자료형의 내장함수를 검색할 수 있다.

In [ ]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

help() : 자료형에서 제공하는 메소드 사용법을 검색할 수 있다.

In [ ]:
# help(str)
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

## Sequence 자료형
- Sequence은 여러 객체를 저장할 수 있는 순서를 갖는 연속된 자료형이다.  
- 자료형 종류 : str, tuple, list  
- sequence형의 공통적인 연산  
  - 인덱스(indexing)  
  - 슬라이싱(slicing)
  - 연결하기
  - 반복하기
  - 멤버 검사
  - 길이 정보

### 문자열(str)
- 문자열은 문자들을 표현하는 자료형으로 작은따옴표(')나 큰따옴표(")로 묶는다.
- 문자열의 슬라이싱 : [인덱스 시작 : 인덱스 끝 : 스텝]
- 스텝의 default은 1의 값을 갖는다.

In [ ]:
s_val = 'hello python!'
s_val[0:3] # 3-1 인덱스 값 까지만 가져온다.

'hel'

In [ ]:
s_val[1]

'e'

In [ ]:
# 1번 인덱스부터 끝까지 출력
s_val[1:]

'ello python!'

In [ ]:
# 0인덱스 부터 3미만까지
s_val[:3]

'hel'

In [ ]:
# 전체 출력
s_val[:]

'hello python!'

In [ ]:
# -1부터 가지고 오라
s_val[-1]

'!'

In [ ]:
# 음수로 적어줄 땐 양수 적는 방법과는 역 방향으로 읽는다? 대충 이런 뜻인거 같은데
s_val[-3:-1]

'on'

In [ ]:
# step 2로 문자열 읽어오기
s_val[::2]

'hlopto!'

In [ ]:
# 뒤에서 부터 읽어온다.
s_val[::-2]

'!otpolh'

In [ ]:
s_val[::-1] #hello python!

'!nohtyp olleh'

In [ ]:
s_val[-1:-3:-1] # ! , 뭘 생략하면 앞에서부터 검색한다고.. 못들음 ㅋㅋ

'!n'

In [ ]:
s_val[-3:-1:-1] #''

''

In [ ]:
# + 면 앞에서부터 가져온다.
s_val[-3:-1:1] # on

'on'

문자열의 연결하기는 (+)연산자를 사

In [ ]:
s_val2='hello' + ' ' + 'python!'
s_val2

'hello python!'

문자열 반복하기는 (*)연산자를 사용

In [ ]:
s_val3='win' * 3
s_val3

'winwinwin'

In [ ]:
#s_val3='win' * 'python' # 문자열은 문자열과 문자열을 곱할 수 없다.
#s_val3

문자열을 변경할 때 슬라이싱과 연결하기 사

In [ ]:
s_val3 = 'hell python!'

In [ ]:
s_val4='H' + s_val3[1:] # H 뒤에 val3 인덱스 1번부터 문자열을 붙인다.
s_val4

'Hell python!'

문자열의 길이는 len() 내장함수 사용

In [ ]:
len(s_val4)

12

in연산자로 멤버 검사를 해서 부분 문자열의 존재 확

In [ ]:
# True, False 값으로 리턴된다... 파이썬은 boolean 첫 문자가 대문자
s_val5='red green blue'
'red' in s_val5

True

In [ ]:
'white' in s_val5

False

여러 줄 문자열은 작은 따옴표 또는 큰따옴표를 세번 연속해서 입력

In [ ]:
s_val6='''red
green
blue'''
s_val6

'red\ngreen\nblue'

문자열 서식 지정 : 어떤 문서 양식을 만들어 놓고 빈칸에 필요한 내용을 채워서 문서를 지정한다.

In [ ]:
s_val7='python'
s_val8=83.5
print('%s의 점수는 %f입니다.' %(s_val7, s_val8)) #python1.2 방식
print('{}의 점수는 {}입니다.' .format(s_val7, s_val8)) #python3 방식
print('{1}의 점수는 {0}입니다.' .format(s_val8, s_val7))
print('{subject}의 점수는 {jumsu}입니다.' .format(jumsu=s_val8,subject=s_val7))
print('{{0}}의 점수는 {1}입니다.' .format(s_val7,s_val8))

# {}를 출력하고 싶으면 세번 써라,,, 
print('{{{0}}}의 점수는 {1}입니다.' .format(s_val7,s_val8)) # 변수의 값을 출력하면서 {} 중괄호 자체를 출력할 때는 {{}}을 한다.
print('{{0}}의 점수는 {1}입니다.' .format(s_val7,s_val8))
print('{0:<10}의 점수는 {1}입니다.' .format(s_val7,s_val8)) # < 기호면 오른쪽 공백, 10자리 확보하고 남은 공간은 오른쪽 여백으로 채운다.

# 인덱스를 지정해도 되고 안해도 되는데 암튼 적을 때 맞춰줘야 한다. 안그럼 오류 뜨더라고
print('{:>10}의 점수는 {}입니다.' .format(s_val7,s_val8)) # < 기호면 왼쪽 공백, 0자리 확보하고 남은 공간은 왼쪽 여백으로 채운다.

python의 점수는 83.500000입니다.
python의 점수는 83.5입니다.
python의 점수는 83.5입니다.
python의 점수는 83.5입니다.
{0}의 점수는 83.5입니다.
{python}의 점수는 83.5입니다.
{0}의 점수는 83.5입니다.
python    의 점수는 83.5입니다.
    python의 점수는 83.5입니다.

### 리스트(list)
  - 시퀀스(Sequence) 자료형으로 데이터의 크기나 원소 값을 변경할 수 있다.
  - 리스트는 [ ]대괄호로 표현한다.

In [ ]:
l = [] #리스트를 대괄호로 표현해도 됨.
l
print(type(l))

<class 'list'>

javja
```java
class Test{
  public static void main(String[] args){
    int arr= new int[] {1,2,3};
  }
}
```

javascript
```javascript 
  let color=['red','green','blue'];
```

In [ ]:
l_val=[10,20,30] # 값을 표현할 때 대괄호를 사용한다. 일반 변수 선언하는 것 처럼 사용하면 된다.
l_val

[10, 20, 30]

In [ ]:
type(l_val)

list

In [ ]:
print(type(l_val))
type(l_val)

<class 'list'>

list

리스트(list)는 슬라이싱을 이용해서 데이터를 접근할 수 있다.

In [ ]:
# 인덱스를 이용해서 데이터 가져오기
l_val2=[5,10,15,20,25,30]
l_val2[3] # 인덱스 3번에 있는 값을 가져오기,,, 0부터 시작

20

In [ ]:
l_val2[0:3]

[5, 10, 15]

In [ ]:
l_val2[1:] # 인덱스 1번부터 끝까지 출력하라

[10, 15, 20, 25, 30]

In [ ]:
l_val2[:3]

[5, 10, 15]

In [ ]:
l_val2[:]

[5, 10, 15, 20, 25, 30]

In [ ]:
l_val2[::-1] # 역으로 출력하기

[30, 25, 20, 15, 10, 5]

In [ ]:
l_val2[-1:-3:-1]

[30, 25]

list는 다양한 타입을 함께 포함할 수 있다.

In [ ]:
l_val3=[10,'python',80.5,True]
l_val3

[10, 'python', 80.5, True]

In [ ]:
l_val3=[[10,20],(1,2,3),{100, 200}]  # ( )은 튜플
l_val3

[[10, 20], (1, 2, 3), {100, 200}]

list는 (+)연산자를 사용하여 연결하기를 할 수 있다.

In [ ]:
l_val4=[1,2]
l_val4 + l_val4 # 하나의 리스트로 연결되어서 출력된다.

[1, 2, 1, 2]

In [ ]:
# l_val4 +3 # 리스트와 숫자는 연결하기를 할 수 없다.

list는 (*)연산자를 사용하여 반복하길ㄹ 할 수 있다.

In [ ]:
l_val4 * 3 # 리스트가 반복된다.,, 리스트에서는 안의 값의 곱 연산이 안된다.

[1, 2, 1, 2, 1, 2]

list에 특정값이 있는지 멤버 검사를 할 수 있다.

In [ ]:
2 in l_val4 # 2라는 값이 l_val4에 있니

True

In [ ]:
5 in l_val4 # 5라는 값이 l_val4에 있니

False

list는 mutalbe이므로 요소들을 변경할수 있다.

In [ ]:
l_val5=['apple', 'banana', 100, 200]

# 인데스 0번부터 1번의 값을 1,2로 변경하라
l_val5[0:2] = [1,2] # 지정한 인덱스[0:2] 범위의 요소를 [1,2]로 변경한다.
l_val5

[1, 2, 100, 200]

In [ ]:
l_val5=['apple', 'banana', 100, 200] # 크기가 달라도 된다.
l_val5[0:2] = [50] # 약간 그런 느낌인데 인덱스 0부터 1번을 리스트 [50] 하나로 퉁친다.
l_val5

[50, 100, 200]

list의 일부 요소를 삭제할 수 있다.

In [ ]:
l_val6=['apple', 'banana', 100, 200]
l_val6[0:2]=[] # 요소 2개를 삭제한다.
l_val6

[100, 200]

In [ ]:
l_val6=['apple', 'banana', 100, 200]
del l_val6[0:2] # del 문을 이용해서 요소를 삭제할 수 있다.
l_val6

[100, 200]

list에 요소를 추가 할 수 있다.

In [ ]:
l_val7=[3,6,9]
l_val7

[3, 6, 9]

In [ ]:
l_val7[1:1] =['red','green'] # 인덱스 1번 자리에 리스트룰 추가한다. ㅣl_val7[1] = ~ 랑 같은 의미,,, 슬라이싱 방식
# l_val7[1] =['red','green'] # [3, ['red', 'green'], 9]
l_val7

[3, 'red', 'green', 6, 9]

In [ ]:
l_val7=[3,6,9]
l_val7

[3, 6, 9]

In [ ]:
l_val7[1] =['red','green'] # 인덱싱 방식
l_val7

[3, ['red', 'green'], 9]

list에서 확장슬라이싱을 사용할떄는 왼쪽과 오른쪽 요소 개수가 같아야 한다.

In [ ]:
l_val8=[2,4,6,8]
l_val8

[2, 4, 6, 8]

In [ ]:
l_val8[::1]=[-1,-2,-3,-4] # 순서대로 아래 값이 들어간다.
l_val8

[-1, -2, -3, -4]

In [ ]:
l_val8=[2,4,6,8]
l_val8

[2, 4, 6, 8]

In [ ]:
# 왼쪽의 갯수와 오른쪽의 갯수가 다르므로 오류 발생
# 왼쪽의 l_val8[::2] 결과는 [2,6] 2개의 요속이고 오른쪽은 4개의 요소이다.
l_val8[::2]=[-1,-2] # 순서대로 아래 값이 들어간다.,,, 2면 값을 2와 6 두개를 가져오기 때문에 사이즈가 맞지 않는다.. 사이즈 변경을 줘야 한다.
l_val8

[-1, 4, -2, 8]

list는 한 변수에서 데이터를 각각 꺼내오는 언패킹(unpacking)지원을 한다.

In [ ]:
l_val9=['foo','bar',4,5]
l_val9

['foo', 'bar', 4, 5]

In [ ]:
x,y,z,w = l_val9 # 데이터를 한 변수에 저장해서 출력하는게 가능하다! 신기하다!
print(x,y,z, w);

foo bar 4 5

In [ ]:
x,y,_,_ = l_val9 # 언패킹을 할 때 자릴수를 맞춰 줘야 한다.
print(x,y)

foo bar

In [ ]:
x,y,*z=l_val9 # *로 받으면 리스트가 저장되나 봄
print(x,y,z)

foo bar [4, 5]

In [ ]:
x,*y,z=l_val9 # 중간에서 사용 가능  **도 있는데 그거는 함수에서 사용한다. 나중에 한다고.. 오키!
print(x,y,z)

foo ['bar', 4] 5

In [ ]:
print(dir(l_val9))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### Tuple(튜플)
- 변경이 불가능한 (immutable)한 순서(sequence)가 있는 자료형이다.
- 튜플은 ()소괄호로 표현한다

In [ ]:
t=()
t

()

tuple은 값 사이에 콤마(,)를 구분하여 사용한다.

In [ ]:
t_val=(10,20,30)
t_val

(10, 20, 30)

In [ ]:
t_val=40,50,60  # 튜플은 괄호 없이도 표현 가능
t_val

(40, 50, 60)

In [ ]:
t_val2=(1) 
print(t_val2)
print(type(t_val2))

1
<class 'int'>

In [ ]:
t_val2=(1,) # 튜플로 지정을 해서 사용하고 싶으면 뒤에 ,를 넣어준다.
print(t_val2)
print(type(t_val2))

In [ ]:
# 튜플로 표현하기 위해서 요소가 한 개일 때는 반드시 쉼표(,)가 있어야 한다.
# 괄호는 생략할 수 있지만 쉼표(,)는 있어야 한다.
a=[1,2,] # 파이썬에서는 뒤에 쉼표가 있어도 오류가 뜨지 않는다.
a

[1, 2]

tuple은 immutable이무로 한번 생성되면 요소를 변경할 수 없다.

In [ ]:
t_val3=(1,2,3) # 튜플은 요소를 변경할 수 없다. 메모리에 한번 선언되면 변경 불가
t_val3

(1, 2, 3)

In [ ]:
t_val3[0]=100
t_val3

TypeError: ignored

tuple은 다양한 타입을 함께 포함할 수 있다.

In [ ]:
t_val4=(10,'python',80.5,True)
t_val4

(10, 'python', 80.5, True)

tuple은 인덱싱, 슬라이싱으로 각 요소에 접근할 수 있다.

In [ ]:
t_val5=(5, 10, 15, 20, 25, 30)
t_val5

(5, 10, 15, 20, 25, 30)

In [ ]:
t_val5[3] # 인덱싱

20

In [ ]:
t_val5[-1] # 인덱싱

30

In [ ]:
t_val5[0:2] # 인덱스 0부터 1까지의 값을 가져온다... 슬라이싱 방법

(5, 10)

In [ ]:
t_val5[::2] # 확장 슬라이싱,, 스텝이 있어서 그런가봄

(5, 15, 25)

tuple은 (+)연산자를 사용하여 연결하기를 할 수 있다.

In [ ]:
t_val5 + t_val5 # 연결하기

(5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30)

In [ ]:
t_val5+[1,2,3] # 튜플 + 리스트 => 타입이 달라서 에러가 발생한다.

TypeError: ignored

tuple은 (*)연산자를 사용하여 반복하기를 할 수 있다.

In [ ]:
t_val5 * 3 # 반복하기

(5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30, 5, 10, 15, 20, 25, 30)

tuple은 in 연산자를 사용하여 멤버검사를 할 수 있다.

In [ ]:
5 in t_val5 # 5라는 값이 t_val5에 포함이 되어 있니... 멤버검사

True

In [ ]:
8 in t_val5 # 5라는 값이 t_val5에 포함이 되어 있니... 멤버검사

False

tuple은 검색에 관련된 count(), index()메서드 2개를 제공한다.

In [ ]:
t_val6=(1,2,3,2,2,3)
t_val6

(1, 2, 3, 2, 2, 3)

In [ ]:
len(t_val6) # 요소 전체 갯수

6

In [ ]:
t_val6.count(2) # t_val6 튜플에서 2라는 값의 갯수를 리턴

3

In [ ]:
t_val6.index(2) # 2요소의 첫번째 인덱스 번호를 리턴

1

In [ ]:
t_val6.index(2, 2) # 두 번째 2요소의 인덱스를 리턴

3

tuple은 중첩해서 사용할 수 있다.

In [ ]:
t_val7=('python',(1,2,3),[4,5,])
t_val7

('python', (1, 2, 3), [4, 5])

tuple은 한 변수에 요소를 각각 꺼내오는 언패킹(unpacking)을 지원한다.

In [ ]:
t_val8=(10, 20, 30)
t_val8

(10, 20, 30)

In [ ]:
l,m,n =t_val8
print(l,m,n)

10 20 30

In [ ]:
t_val9=((1,2),(3,4))
t_val9

((1, 2), (3, 4))

In [ ]:
(x1, y1), (x2, y2) = t_val9
print(x1)
print(y1)
print(x2)
print(y2)

1
2
3
4

In [ ]:
t_val10=(1,2,3,4,5,6,7,8,9,10)
t_val10

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
a, *b = t_val10 # *로 저장을 하면 무조건 리스트가 저장된다. (*는 나머지를 의미한다.)
print(a, type(a)) 
print(b, type(b))

1 <class 'int'>
[2, 3, 4] <class 'list'>

In [ ]:
# * 기호는 한번만 사용해야 한다.
*a, b,c=t_val10
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]
9
10

### tuple과 list비교
- 공통점
  - 임의의 객체를 저장할 수 있다는 것과 순서(sequence) 자료형이다.
-차이점
  - tuple은 변경 불가능(immutable)한 자료형이다.
  - list은 변경 가능(mutable)한 자료형이다.

In [ ]:
t_data=(1,2,3)
print(t_data)
print(type(t_data))

(1, 2, 3)
<class 'tuple'>

tuple을 list()함수를 이용해서 list 자료형으로 생성할 수 있다.

In [ ]:
l_data = list(t_data) # 튜플을 리스트로 변경하기??
print(l_data)
print(type(l_data))

[1, 2, 3]
<class 'list'>

str 자료형의 요소를 list() 함수를 이용해서 list자료형으로 생성할 수 있다.

In [ ]:
s_data='python'
print(s_data)
print(type(s_data))

python
<class 'str'>

In [ ]:
list(s_data)

['p', 'y', 't', 'h', 'o', 'n']

list의 요소를 tuple()함수를 이용해서 tuple을 생성할 수 있다.

In [ ]:
l_arg=[1,2,3,4,5]
print(l_arg)
print(type(l_arg))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
t_arg = tuple(l_arg)
print(t_arg)
print(type(t_arg))

(1, 2, 3, 4, 5)
<class 'tuple'>

str 자료형의 요소를 tuple() 함수를 사용해서 tuple을 생성할 수 있다.

In [ ]:
s_arg='python'
print(s_arg)
print(type(s_arg))

python
<class 'str'>

In [ ]:
t_arg=tuple(s_arg)
print(t_arg)
print(type(t_arg))

('p', 'y', 't', 'h', 'o', 'n')
<class 'tuple'>

### 집합
- 집합은 여러 값을 순서가 없고 중복없이 모아 놓은 자료형이다.
- python에서는 set과 frozenset 두가지 집합 자료형을 제공한다.
- set은 변경 가능한 집합이고, frozenset은 변경 불가능한 자료형이다.
- set은 {}중괄호로 사용할 수 없으나 set()으로 표현한다.

In [ ]:
s={}
print(s)
print(type(s))

{}
<class 'dict'>

In [ ]:
s = set
print(s)
print(type(s))

<class 'set'>
<class 'type'>

집합(set)
- 멤버십(원소와 집합사이의 귀속관계) 검사, 시퀀스에서 중복제거와 교집합, 합집합, 차집합 같은 수학 연산 수행에 사용된다.
- 다른 시퀀스(sequence)와 마찬가지로 x in set, len(), 컴프리헨션과 같은 기능을 제공하지만, 삽입순서를 기록하지는 않는다. 따라서 ***인덱싱과 슬라이싱을 사용이 불가능하다.***
- 반복 가능한(Iterable) 객체로 부터 집합을 만들 수 있지만 모든 데이터가 원소로 사용할 수 있는 것은 아니다. 해시기능(Hashable)이면서 변경 불가능한 자료형만이 집합의 우너소로 사용가능하다.

In [ ]:
set((3,1,2)) # set에는 하나의 요소만 들어가야 한다.... tuple로 집합을 생성하면 오름차순으로 정렬한다.

{1, 2, 3}

In [ ]:
a=(3,1,2)
set(a)

{1, 2, 3}

In [ ]:
set([3,1,2]) #list로 집합을 생성하며 오름차순으로 정렬한다.

{1, 2, 3}

In [ ]:
b=[3,1,2]
s_val=set(b)
print(s_val)

{1, 2, 3}

In [ ]:
b[1]=10
print(b)

[3, 10, 2]

In [ ]:
s_val  # 못들었음 ㅋㅋ list는 한번 선언하면 변경 불가능하다. 값을 변경하고 집합을 출력하면 원래 키가 유지되는것을 볼 수 있다.
# 주소를 복사하는냐 아니면 값만 복사하느냐를 잘 알아야 한다고.. deep copy 를 언급했는데 아마 값만 복사되는걸 말하는게 아닐까 싶음
# deep copy로 생성하므로 원래 요소 그대로 출력한다.

{1, 2, 3}

In [ ]:
set('python') # str로 집합을 생성하며 오름차순으로 정렬한다

{'h', 'n', 'o', 'p', 't', 'y'}

In [ ]:
#중복된 것이 들어가면 중복된 값은 제거가 되고 생성된다.
set((3,1,2,2,3,2,4)) # 중복된 원소는 한 번만 표현한다.

{1, 2, 3, 4}

In [ ]:
set('python hello') # 중복된 원소는 한 번만 표현한다.

{' ', 'e', 'h', 'l', 'n', 'o', 'p', 't', 'y'}

In [ ]:
set({'one':1,'two':2}) # dict 자료형으로 생성하면 키 값만 반환한다.

{'one', 'two'}

In [ ]:
print(dir(set)) # 아마 변경 가능한 변수 타입이 출력되는듯 싶다.. 나도 모르겠다. 힘들다

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

### frozenset
- 값을 변경하지 않는 범위에서 set객체와 동일하게 동작한다.
- frozenset 객체의 생성은 집합을 포함한 반복 가능한 자료형으로 부터 가능하다.
- frozenset은 frozenset( )으로 생성한

In [ ]:
f_val = frozenset();
print(f_val)
print(type(f_val))

frozenset()
<class 'frozenset'>

In [ ]:
f_val2=frozenset([1,2,3,4,5])
print(f_val2)
print(type(f_val2))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [ ]:
print(dir(frozenset))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

### dict(사전)
- 특정 키를 주면 이와 관련된 값을 돌려주는 내용 기반으로 검색하는 자료형이다.
- 데이터의 저장 순서가 없다.
- 내부적으로 해시 기법을 사용하기 때문에 검색 속도가 빠르다.
- key-value 형식ㅇ로 저장을 하기 때문에 key을 이용해서 value에 접근한다.
- key값은 중복을 허용하지 않는다.

dict 생성은 {} 또는 dict()함수를 사용해서 생성할 수 있다.

In [ ]:
d_val={'one':1,'two':2}
print(d_val)
print(type(d_val))

{'one': 1, 'two': 2}
<class 'dict'>

In [ ]:
d_val2=dict(one=1, two=2) # dict() 함수를 사용해서 생성할 때 키를 'one' 또는 "one"을 사용하지 않는다.
print(d_val)
print(type(d_val))

{'one': 1, 'two': 2}
<class 'dict'>

zip 함수를 이용해서 dict(사전을 생성할 수 있다.)

In [ ]:
keys=['one', 'two','three']
values=[1,2,3]
d_val3= dict(zip(keys, values))
print(d_val3)
print(type(d_val3))

{'one': 1, 'two': 2, 'three': 3}
<class 'dict'>

In [ ]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

컨테이너 자료 특징  
mutable : list, set dict   
imutable : str, tuple, set   
sequence : list, tuple ,str